
.time-select {
  font-size: 34px;
  line-height: 80px;
  color: #cacaca;
  padding: 10px 30px;
  background: white;
  margin-bottom: 10px;
}

.time-select-tag {
  display: inline-block;
  padding: 0 20px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border: 1px solid #cacaca;
  border-radius: 30px;
  background-color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 30px;

  //&.time-select-tag--active {
  //  color: @primary-color;
  //  border-color: @primary-color;
  //}
}

.time-item {
  display: inline-block;
  color: black;
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid;
    border-color: #d9d9d9 transparent transparent transparent;
    display: inline-block;
    margin-bottom: -16px;
    margin-left: 5px;
  }
  margin-right: 10px;
}
